.footer {
  width: 100vw;
  height: 40px;
  background-color: #002f34;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px 30px 0 0;
}
.footer p {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  font-size: 0.8em;
}
